<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>항해 요리사</title>
    <script src="http://kit.fontawesome.com/43e8510eaf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/commiting.css') }}">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">항해 요리사</a>
            </h1>
            <a href="#" class="btn" role="button" onclick="submitRecipe()">올리기</a>
        </header>

        <section>
            <div class="recipe-header">
                <input type="text" placeholder="레시피 제목을 입력해주세요" name="title" id="title" required>
                <input type="password" placeholder="비밀번호를 입력해주세요" name="password" id="password" required>
                <div>
                    예상 난이도를 입력해주세요.
                    <select class="score" id="difficulty">
                        <option value="5">5</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                    </select>
                </div>
            </div>

            <div class="recipe-contents">
                <div class="recipe-card">
                    <img src="{{ url_for('static', filename='img/tomato.webp') }}" alt="토마토 이미지">
                    <div class="recipe-card__inner">
                        <div class="recipe-explanation">
                            <h2>요리 설명</h2>
                            <input type="text" name="cookingMinutes" id="cookingMinutes" placeholder="예상 조리 시간 (단위: 분)"
                                required>
                        </div>
                        <input type="text" class="explanation" name="cookingExplanation" id="cookingExplanation"
                            placeholder="요리 설명을 작성해주세요" required>
                    </div>
                </div>

                <div class="recipe-card">
                    <img src="{{ url_for('static', filename='img/peanut.jpeg') }}" alt="땅콩 이미지">
                    <div class="recipe-card__inner">
                        <div class="recipe-explanation">
                            <h2>재료 설명</h2>
                            <input type="text" name="ingredientPrice" id="ingredientPrice"
                                placeholder="예상 재료 비용 (단위: 원)" required>
                        </div>
                        <input type="text" class="explanation" name="ingredientExplanation" id="ingredientExplanation"
                            placeholder="재료 설명을 작성해주세요" required>
                    </div>
                </div>

                <div class="recipe-card">
                    <img src="{{ url_for('static', filename='img/onion.webp') }}" alt="양파 이미지">
                    <div class="recipe-card__inner">
                        <div class="recipe-explanation">
                            <h2>레시피</h2>
                            <input type="text" name="caution" id="caution" placeholder="조리시 주의사항을 적어주세요." required>
                        </div>
                        <input type="file" class="explanation" name="recipeImage" id="recipeImage">
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script>
        async function createRecipe(data) {
            try {
                const formData = new FormData();

                for (let key in data) {
                    formData.append(key, data[key]);
                }

                const fileInput = document.getElementById('recipeImage');
                formData.append('recipeImage', fileInput.files[0]);

                const response = await fetch('/api/recipes', {
                    method: "POST",
                    body: formData
                });

                const result = await response.json();
                if (result.success === false) {
                    alert('레시피가 정상적으로 올라가지 않았습니다.');
                    return;
                }

                alert('레시피가 정상적으로 올라갔습니다!');
                window.location.href = '/';
            } catch (error) {
                throw new Error(error);
            }
        }

        function submitRecipe() {
            // 클릭 무효화
            event.preventDefault();

            // 입력 값 확인
            const title = document.getElementById('title').value;
            if (!title) {
                alert('레시피 제목을 입력해주세요.')
                return
            }

            const difficulty = document.getElementById('difficulty').value;
            if (!difficulty || isNaN(difficulty)) {
                alert('올바른 난이도 숫자를 입력해주세요.');
                return;
            }

            const password = document.getElementById('password').value;
            if (!password) {
                alert('비밀번호를 입력해주세요.')
                return
            }

            const cookingMinutes = document.getElementById('cookingMinutes').value;
            if (!cookingMinutes || isNaN(cookingMinutes)) {
                alert('올바른 예상 조리 시간(분)을 입력해주세요.')
                return
            }

            const cookingExplanation = document.getElementById('cookingExplanation').value;
            if (!cookingExplanation) {
                alert('요리 설명을 입력해주세요.')
                return
            }

            const ingredientPrice = document.getElementById('ingredientPrice').value;
            if (!ingredientPrice || isNaN(ingredientPrice)) {
                alert('올바른 예상 재료 비용(원)을 입력해주세요.')
                return
            }

            const ingredientExplanation = document.getElementById('ingredientExplanation').value;
            if (!ingredientExplanation) {
                alert('재료 설명을 입력해주세요.')
                return
            }

            const caution = document.getElementById('caution').value;
            if (!caution) {
                alert('조리시 주의사항을 입력해주세요.')
                return
            }

            const fileInput = document.getElementById('recipeImage');
            if (fileInput.files.length <= 0) {
                alert('레시피를 업로드 해주세요.')
                return
            }

            // 서버로 보낼 객체 생성
            const data = {
                title: title,
                difficulty: difficulty,
                password: password,
                cookingMinutes: cookingMinutes,
                cookingExplanation: cookingExplanation,
                ingredientPrice: ingredientPrice,
                ingredientExplanation: ingredientExplanation,
                caution: caution
            };

            createRecipe(data);
        }
    </script>
</body>

</html>