<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://kit.fontawesome.com/43e8510eaf.js" crossorigin="anonymous"></script>
    <title>항해 요리사</title>
    <link rel="stylesheet" href="../static/CSS/index.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">항해 요리사</a>
            </h1>
            <a href="/commiting" role="button" class="btn">작성하기</a>
        </header>

        <section>
            <div class="recipe-header">
                <h2>항해 레시피</h2>
                <div class="total-recipe">
                    <span>Total Recipes</span>
                    <span id="total">{{ data.total }}</span>
                </div>
            </div>
            <div class="line"></div>
            <div class="recipe-contents">
                {% for recipe in data.recipes %}
                <div class="recipe-card">
                    <a href="/recipes/{{ recipe.id }}">
                        <img class="imgBox" src="{{ url_for('static', filename='upload/{}'.format(recipe.image_url)) }}"
                            alt="레시피 이미지">
                        ::after
                        <div class="recipe-card__info">
                            <h3 class="textBox__name">{{ recipe.title }}</h3>
                            <div class="cooking-minutes">
                                <span>예상 조리 시간 / </span><span id="minutes">{{ recipe.cooking_minutes }}분</span>
                            </div>
                            <div class="ingredient">
                                <span>준비재료: </span><span>{{ recipe.ingredient_explanation }}</span>
                                <br>
                                <span style="color: red;">❤️ {{ recipe.likes }}</span>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
</body>

</html>